
<footer>
    <h1> {{pageTitle}}</h1>
    <h3> some links in footer</h3>
    <p><a  href ="/"> Home</a></p>
    <p><a  href ="/about"> About</a></p>
    <p><a  href ="/projects"> Projects</a></p>
    <p> FffCopyright {{currentYear}}</p>
</footer>
   